// scss variables
// colors
$primary: #3f50b5;
$primary-light: #757ce8;
$primary-dark: #002884;
$secondary: #212121;
$secondary-light: #484848;
$secondary-dark: #000000;
$misc: #ffffff;
$danger: #ea3d32;
//
// GENERALLY
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // background-color: red;
    font-size: 14px;
}

// TYPOGRAPHY
.display_1 {
    font-size: 2rem;
}

.display_2 {
    font-size: 1.7rem;
}

.display_3 {
    font-size: 1.4rem;
}

.text_uppercase {
    text-transform: uppercase;
}

.text_lowercase {
    text-transform: lowercase;
}

.text_capitalize {
    text-transform: capitalize;
}

//
// MISCELLENOUS
.bg_primary {
    background-color: $primary;
}

.bg_primary_light {
    background-color: $primary-light;
}

.bg_primary_dark {
    background-color: $primary-dark;
    &._btn {
        color: $misc;
        &:hover {
            background-color: $primary;
        }
    }
}

.bg_secondary {
    background-color: $secondary;
}

.bg_secondary_light {
    background-color: $secondary-light;
}

.bg_secondary_dark {
    background-color: $secondary-dark;
}

//
.text_primary {
    color: $primary;
}

.text_primary_light {
    color: $primary-light;
}

.text_primary_dark {
    color: $primary-dark;
}

.text_secondary {
    color: $secondary;
}

.text_secondary_light {
    color: $secondary-light;
}

.text_secondary_dark {
    color: $secondary-dark;
}

.focus_outline_none {
    &:focus {
        outline: 0;
    }
}

.form-control {
    border-radius: 3px;
    font-size: 0.8rem;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.custom_background_img {
    background-image: url("../assets/images/main-custom-background-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.regular_link {
    color: $primary-light;
    transition: 3s ease;
    &:hover {
        color: $primary;
        text-decoration-line: none;
    }
}

.fontawesome_pseudo {
    &:after,
    &:before {
        font-family: "font Awesome 5 Free";
        font-weight: 900;
    }
}

.select_drop_wrapper.fontawesome_pseudo {
    &:after {
        margin-right: .4em;
    }
}


/* Number inputs (removing the spin button arrows on the right side) */


/* Chrome, Safari, Edge, Opera */

input {
    &[type="number"] {
        &::-webkit-inner-spin-button,
         ::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }
    // &[type="number"]::-webkit-outer-spin-button,
    // &[type="number"]::-webkit-inner-spin-button {
    //     -webkit-appearance: none;
    // }
    /* Firefox */
    &[type="number"] {
        -moz-appearance: textfield;
    }
}

// COMPONENTS
.left_content_wrapper {
    display: flex;
    align-items: center;
    .inner {
        margin-top: 3em;
    }
}

.right_content_wrapper {
    margin-top: 4em;
}

.bmi_calc_form_nav {
    border-bottom: 1px solid $primary-dark;
    .nav-link {
        text-align: center;
        color: $primary-dark;
        &.active {
            background-color: $primary-dark;
            // color: $misc;
        }
    }
}

.btn {
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}

.select_drop_wrapper {
    position: relative;
    &::after {
        content: "\f0dd";
        font-size: 20px;
        position: absolute;
        right: 0.3em;
        color: $primary;
        pointer-events: none;
        bottom: 0.4em;
    }
    // ........................
    border-radius: 3px;
    padding: 5px;
    background-color: unset;
    &:focus,
    &:active {
        outline: 0;
        inset: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
    }
    // Custom form select dropdown
    select {
        /* remove default style from browsers */
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        width: 100%;
        &:focus {
            outline: 0;
        }
        option {
            margin: 5em;
            line-height: 2;
            font: inherit;
            font-size: 0.8rem;
        }
        &::after {
            content: "hhhhh";
        }
    }
}

// PAGES
.login_page {
    .main_inner_wrapper {
        height: 90vh;
        .inner {
            height: 100%;
            display: flex;
            align-items: center;
        }
        .form_wrapper {
            width: 100%;
            background-color: $misc;
            max-width: 500px;
            margin: 0 auto;
        }
    }
}

.register_page {
    .main_inner_wrapper {
        // height: 90vh;
        padding-top: 2em;
        .inner {
            height: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 2em;
        }
        .form_wrapper {
            width: 100%;
            background-color: $misc;
            max-width: 600px;
            margin: 0 auto;
        }
    }
}

.bmi_calculator_page {
    .page_banner {
        background-color: $secondary;
        background-image: url("../assets/images/page_banner.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: soft-light;
    }
}

// SECTIONS
.hero {
    height: 90vh;
    width: 100%;
    i.fas {
        font-size: 2rem;
        margin-top: 1.4em;
        +p {
            font-size: 0.7rem;
            font-weight: 600;
        }
    }
}

// Media queries
@media (min-width: 700px) {
    body {
        font-size: 16px;
    }
    .hero {
        i.fas {
            font-size: 4rem;
            margin-top: 0;
            +p {
                font-size: 1rem;
            }
        }
    }
    .left_content_wrapper {
        .inner {
            margin-top: 10em;
        }
    }
    .form-control {
        font-size: 1rem;
    }
}