:root {
    --primary: #3f50b5;
    --primary-light: #757ce8;
    --primary-dark: #002884;
    --secondary: #290505;
    --secondary-light: #484848;
    --secondary-dark: #000000;
    --misc: #ffffff;
    --danger: #ea3d32;
}

.hero {
    height: 100vh;
    /* background-color: var(--secondary-light); */
    background-color: var(--misc);
    background-image: url("./assets/images/hero-img-one.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    display: flex;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

.display_1 {
    font-size: 2rem;
}

.display_2 {
    font-size: 1.7rem;
}

.display_3 {
    font-size: 1.4rem;
}

.text_uppercase {
    text-transform: uppercase;
}

.text_lowercase {
    text-transform: lowercase;
}

.text_capitalize {
    text-transform: capitalize;
}

.bg_primary {
    background-color: #3f50b5;
}

.bg_primary_light {
    background-color: #757ce8;
}

.bg_primary_dark {
    background-color: #002884;
}

.bg_primary_dark._btn {
    background-color: #002884 !important;
    color: var(--misc);
    transition: all 300ms ease-in-out;
}

.bg_primary_dark._btn:hover {
    background-color: var(--primary) !important;
    color: var(--misc);
}

.bg_primary_dark._btn:focus {
    outline: 0;
    box-shadow: none;
}

.bg_secondary {
    background-color: #212121;
}

.bg_secondary_light {
    background-color: #484848;
}

.bg_secondary_dark {
    background-color: #000000;
}

.text_primary {
    color: #3f50b5;
}

.text_primary_light {
    color: #757ce8;
}

.text_primary_dark {
    color: #002884;
}

.text_secondary {
    color: #212121;
}

.text_secondary_light {
    color: #484848;
}

.text_secondary_dark {
    color: #000000;
}

.text_danger {
    color: #ea3d32;
}

.focus_outline_none:focus {
    outline: 0 !important;
}

ul.remove_style {
    list-style: none;
}

.d_flex {
    display: flex;
}

.flex_align_center {
    align-items: center;
}

.flex_just_spaceBetween {
    justify-content: space-between;
}

.form-control {
    border-radius: 3px;
    font-size: 0.8rem;
}

.form-control:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.hidden_radio {
    position: absolute;
    opacity: 0;
}

.hidden_radio~label {
    display: flex;
    align-items: center;
}

.hidden_radio~label .pseudo_radio {
    --size: 1.2em;
    width: var(--size);
    height: var(--size);
    margin-right: calc(var(--size) - .6em);
    cursor: pointer;
    border: 0.6px solid #3f50b5;
    border-radius: 3px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.hidden_radio:checked~label .pseudo_radio {
    box-shadow: inset 0 0 0 5px #757ce8;
}

.custom_background_img {
    background-image: url("./assets/images/main-custom-background-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.regular_link {
    color: #757ce8;
    transition: 3s ease;
}

.regular_link:hover {
    color: #3f50b5;
    text-decoration-line: none;
}

.fontawesome_pseudo:after,
.fontawesome_pseudo:before {
    font-family: "font Awesome 5 Free" !important;
    font-weight: 900 !important;
}

.select_drop_wrapper.fontawesome_pseudo:after {
    margin-right: .4em;
}

.select_drop_wrapper::after {
    /* content: "\f0dd"; */
    content: "\f14a" !important;
    font-size: 20px;
    position: absolute;
    right: 0.3em;
    color: var(--primary);
    pointer-events: none;
    bottom: 0.4em;
}

.select_drop_wrapper:focus,
.select_drop_wrapper:active {
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
}

.select_drop_wrapper select:focus {
    outline: 0;
}

.select_drop_wrapper select {
    /* remove default style from browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 100%;
}

.select_drop_wrapper select option {
    margin: 5em;
    line-height: 2;
    font: inherit;
    font-size: 0.8rem;
}

.select_drop_wrapper select::after {
    content: "hhhhh";
}

.select_drop_wrapper {
    position: relative;
    /* // ........................ */
    border-radius: 3px;
    padding: 5px;
    background-color: unset;
    /* // Custom form select dropdown */
}

.hero_btn{
    display: inline-block;
}


/* Number inputs (removing the spin button arrows on the right side) */


/* Chrome, Safari, Edge, Opera */

input {
    /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"] ::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="date"] {
    width: 100%;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    position: absolute;
    right: 0;
    opacity: 0;
}

.sidenav_toggler {
    display: none;
}

.bmi_calc_form_nav {
    border-bottom: 1px solid #002884;
}

.bmi_calc_form_nav .nav-link {
    text-align: center;
    color: #002884;
}

.bmi_calc_form_nav .nav-link.active {
    background-color: #002884;
}

.bmi_test_modal_popup ul {
    list-style: none;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.rotate_45 {
    transform: rotate(45deg);
}

.select_drop_wrapper {
    position: relative;
    border-radius: 3px;
    padding: 5px;
    background-color: unset;
}

.select_drop_wrapper::after {
    content: "\f0dd";
    font-size: 20px;
    position: absolute;
    right: 0.3em;
    color: #3f50b5;
    pointer-events: none;
    bottom: 0.4em;
}

.select_drop_wrapper:focus,
.select_drop_wrapper:active {
    outline: 0;
    inset: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
}

.select_drop_wrapper select {
    /* remove default style from browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 100%;
}

.select_drop_wrapper select:focus {
    outline: 0;
}

.select_drop_wrapper select option {
    margin: 5em;
    line-height: 2;
    font: inherit;
    font-size: 0.8rem;
}

.select_drop_wrapper select::after {
    content: "hhhhh";
}

.page_sidenav {
    height: 100%;
}

.page_sidenav .inner {
    background-color: #ffffff;
}

.page_sidenav .inner .nav_tab {
    list-style: none;
}

.page_sidenav .inner .nav_tab li:first-child {
    border-top: 1px solid #e2dbdb;
}

.page_sidenav .inner .nav_tab li {
    border-bottom: 1px solid #e2dbdb;
    transition: 300ms ease;
    padding: 1.2em;
}

.page_sidenav .inner .nav_tab li:hover,
.page_sidenav .inner .nav_tab li.active {
    background-color: #757ce8;
    width: 100%;
    height: 100%;
}

.page_sidenav .inner .nav_tab li:hover a,
.page_sidenav .inner .nav_tab li.active a {
    color: #ffffff;
}

.page_sidenav .inner .nav_tab li a {
    color: #ffffff;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
}

.login_page .main_inner_wrapper {
    height: 90vh;
}

.login_page .main_inner_wrapper .inner {
    height: 100%;
    display: flex;
    align-items: center;
}

.login_page .main_inner_wrapper .form_wrapper {
    width: 100%;
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
}

.register_page .main_inner_wrapper {
    padding-top: 2em;
}

.register_page .main_inner_wrapper .inner {
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.register_page .main_inner_wrapper .form_wrapper {
    width: 100%;
    background-color: #ffffff;
    max-width: 600px;
    margin: 0 auto;
}

.bmi_calculator_page .page_banner {
    background-color: #212121;
    background-image: url("./assets/images/page_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
}

.hero {
    height: 90vh;
    width: 100%;
    background-color: #484848;
    background-image: url("./assets/images/hero-img-one.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    display: flex;
    align-items: center;
}

.hero h1,
.hero p {
    color: #ffffff;
}

.hero h1 {
    font-size: 3rem;
}

.hero h1~p {
    font-size: 1.4rem;
}

.hero .info_icons_wrapper {
    position: absolute;
    width: 100%;
    bottom: 3em;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.hero i.fas {
    font-size: 2rem;
    margin-top: 1.4em;
    color: #757ce8;
}

.hero i.fas+p {
    font-size: 0.9rem;
    font-weight: 600;
}

.page_404 {
    height: 80vh;
    display: grid;
    place-content: center;
}

.sized_container {
    max-width: 700px;
    margin: 0 auto;
}

@media (min-width: 700px) {
    body {
        font-size: 16px;
    }
    .hero i.fas {
        font-size: 4rem;
        margin-top: 0;
    }
    .hero i.fas+p {
        font-size: 1rem;
    }
    .form-control {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    .page_sidenav {
        position: fixed;
        z-index: 1;
        width: 70vw;
        left: 0;
        height: 100%;
        background-color: #ffffff;
        transition: left 300ms ease-in-out;
    }
    .page_sidenav.hide {
        left: -70vw;
        transition: left 300ms ease-in-out;
    }
    .page_sidenav nav {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    .sidenav_toggler {
        display: block;
        margin: .5em;
        background-color: unset;
    }
    .sidenav_toggler .fa-bars,
    .sidenav_toggler .rotate_45 {
        color: #484848;
        font-size: 1.3rem;
    }
}


/*# sourceMappingURL=style.css.map */